<div class="container-fluid px-md-5 py-md-4">
  <form >
    <div id="smartwizard" class="row">
      <div #wizard class="w-100 my-3">
        <ul>
          <li><a href="#step-1"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleFileUpload'"></span></h2></a></li>
          <li><a href="#step-2"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleGeneralCheck'"></span></h2></a></li>
          <li><a href="#step-3"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleCompleted'"></span></h2></a></li>
        </ul>

        <div>
          <div id="step-1" class="">
            <div *ngIf="useDigitalSignature">
              <div class="text-gray-600 font-lg" [translate]="'CoursesLocal.Modal.Step1.NecessaryDigitalSignature'"></div>
              <div class="text-red">
                <div *ngIf="!socket_open">
                  {{websocketErrorMessage}}
                  <button type="button" class="btn btn-default btn-sm" title="Refresh"><i class="fa fa-refresh" aria-hidden="true" (click)="openSocket()" ></i></button>
                  <!-- <button type="button" class="btn btn-default btn-sm" title="Open Native Application"><i class="fa fa-desktop" aria-hidden="true" (click)="openViaChromeExtension()" ></i></button> -->
                </div>
                <!-- DEVICE  -->
                <br/>
                <div class="form-group w-100" *ngIf="socket_open && pluggedDevice">
                  <p class="text-subtitle font-weight-bold" [translate]="'CoursesLocal.Modal.Step2.Device'"></p>
                  <select class="form-control" [(ngModel)]="selected_slot" [disabled]="!socket_open" (ngModelChange)="selectCert()" name="selected_slot">
                    <option value="" disabled [translate]="'CoursesLocal.Modal.Step2.SelectDevice'"></option>
                    <option *ngFor="let slot of objectKeys(slots_info)" [selected]="objectKeys(slots_info).length === 1" (ngModelChange)="openSession()" [value]="slot">
                      {{slots_info[slot].label}}
                       ({{slots_info[slot].manufacturerID === 'SafeNet, Inc.' ?
                         ('CoursesLocal.Modal.Step2.Safenet' | translate) :
                          (slots_info[slot].manufacturerID === 'Gemalto S.A.' ? ('CoursesLocal.Modal.Step2.Gemalto' | translate)  : slots_info[slot].manufacturerID)}})
                    </option>
                  </select>
                </div>
                <!-- CERTIFICATE -->
                <div class="form-group w-100" *ngIf="selected_slot && pluggedDevice && !websocketErrorMessage">
                  <p [hidden]="!selected_slot" class="text-subtitle font-weight-bold" [translate]="'CoursesLocal.Modal.Step2.Certificate'"></p>
                  <select class="form-control" [(ngModel)]="selected_cert" name="selected_cert" [hidden]="(certs_info && certs_info.size === 0) || !selected_slot" [disabled]="!socket_open">
                    <option value="" disabled [translate]="'CoursesLocal.Modal.Step2.SelectCertificate'"></option>
                    <ng-container *ngIf="certs_info && certs_info.length > 0">
                      <ng-container *ngFor="let cert of certs_info">
                        <option *ngIf="cert.value.get('OU')" [ngValue]="cert.key" [disabled]="cert.value.get('errors')" [title]="cert.value.get('errors') ? cert.value.get('errors').join(' ') : ''">
                          {{cert.value.get('CN')}} ({{cert.value.get('1.2.840.113549.1.9.1')}}),
                          {{'CoursesLocal.Modal.Step2.Validity' | translate}}: {{cert.value.get('fromDate')}} - {{cert.value.get('toDate')}}
                          ({{cert.value.get('OU')}})
                        </option>
                        <option *ngIf="!cert.value.get('OU')" [ngValue]="cert.key" [disabled]="cert.value.get('errors')" [title]="cert.value.get('errors') ? cert.value.get('errors').join(' ') : ''">
                          {{cert.value.get('CN')}} ({{cert.value.get('1.2.840.113549.1.9.1')}}),
                          {{'CoursesLocal.Modal.Step2.Validity' | translate}}: {{cert.value.get('fromDate')}} - {{cert.value.get('toDate')}}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="mt-4" *ngIf="errorMessage && !isLoading">
                <p class="text-red">{{errorMessage}}</p>
              </div>
              <div *ngIf="socket_open && selected_slot && selected_cert">
                  <app-courses-grades-step-1 (selectedFileOutput)='getInputFileName($event)'
                                             [errorMessage]="errorMessage"
                                             [isLoading]="isLoading">
                  </app-courses-grades-step-1>
              </div>
            </div>
            <div *ngIf="!useDigitalSignature">
                <app-courses-grades-step-1 (selectedFileOutput)='getInputFileName($event)'
                                           [errorMessage]="errorMessage"
                                           [isLoading]="isLoading"
                                           [courseGradeScale]="courseExam?.gradeScale">
                </app-courses-grades-step-1>
            </div>
          </div>
          <div id="step-2" class="">
            <app-courses-grades-step-2 [resultsOfUpload]="resultsOfUpload"
                                       [courseExam]="courseExam"
                                       [counters]="uploadGradesCounters"
                                       [errorMessage]="errorMessage"
                                       [message]="message"
                                       [isLoading]="isLoading">
            </app-courses-grades-step-2>
          </div>
          <div id="step-3" class="">
            <app-courses-grades-step-3 [resultsOfSubmission]="resultsOfSubmission"
                                       [resultsOfUpload]="resultsOfUpload"
                                       [useDigitalSignature]="useDigitalSignature"
                                       [courseExam]="courseExam"
                                       [errorMessage]="errorMessage"
                                       [message]="message"
                                       [isLoading]="isLoading"
                                       [counters]="submitGradesCounters">
            </app-courses-grades-step-3>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
