// import universis and bootstrap variables and mixins
@import "~bootstrap/scss/functions";
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@universis/theme/scss/coreui/_variables";

.card {
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.rectangle-3 {
  margin-top: 15px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}

.msg_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  margin-bottom: 1%;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  background-color: #F0F3F5;
  place-content: center;
}
.inner__content {
  max-height: 65vh;
  overflow-y: scroll;
}

@media (max-width: 1280px), (max-height: 800px){
  .inner__content {
    max-height: 58vh;
  }
}

@include media-breakpoint-down(sm){
  .inner__content {
    max-height: 75vh;
  }
}
